* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}

body, html {
  background-color: #111;
  color: #ddd;
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 1px;
}

.ok {
  background-color: #0e2 !important;
}

.error {
  background-color: #f00 !important;
}

.message {
  display: inline-block;
  border: 1px solid #666;
  background-color: #222;
  padding: 5px;
  margin: 1px;
  cursor: move;
}

  .message .user {
    padding-right: 0.2em;
    display: inline-block;
    font-weight: bold;
  }

  .message .idea {
    display: block;
    font-size: 200%;
  }

  .message .date {
    display: inline-block;
  }

#main {
  border: 1px solid #666;
  background-color: #222;
  padding: 5px;
  margin: 1px 0;
  width: 50%;
  position: relative;
}

#status {
  position: absolute;
  top: 2px;
  right: 2px;
  color: black;
  padding: 1px 2px;
  background-color: #ddd;
}

#input {
  width: 50%;
}

