@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}

body, html {
  background-color: #25273c;
  color: #111;
  font-family: Patrick Hand, cursive;
  font-size: 11px;
}

body {
  padding: 1px;
}

h1 {
  font-weight: bold;
  font-size: 38px;
}

a {
  color: #111;
}

.ok {
  background-color: #0e2 !important;
}

.error {
  background-color: #f00 !important;
}

.reconnect {
  background-color: #fc0 !important;
}

.message {
  position: relative;
  display: inline-block;
  background-color: #d3cf2e;
  margin: 1px;
  max-width: 33%;
}

  .message header {
    display: block;
    background-color: #a9a62f;
    padding: 2px 1px 1px 5px;
    cursor: move;
    max-height: 14px;
    overflow: hidden;
    text-align: right;
  }

  .message .body {
    padding: 2px 17px 1px 5px;
  }

  .message .body .idea {
    display: block;
    font-size: 23px;
  }

  .message footer {
    padding: 0 5px;
  }

  .message footer .user {
    padding-left: 0.7em;
    display: inline-block;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

  .message footer .date {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

.pin {
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(pin.png);
  width: 11px;
  height: 19px;
  cursor: pointer;
}

#main {
  background-color: #5e9491;
  padding: 5px;
  margin: 1px;
  width: 50%;
  color: white;
  position: relative;
}

#status {
  position: absolute;
  top: 2px;
  right: 2px;
  color: black;
  padding: 1px 2px;
  background-color: #ddd;
  font-family: Arial, sans-serif;
  font-size: 10px;
}

#input {
  width: 95%;
  font-family: Arial, sans-serif;
}

.message header .icon {
  display: inline-block;
  cursor: pointer;
  margin-left: 2px;
  width: 11px;
  height: 12px;
  background-image: url(header-icons.png);
}

  .message header .icon.thumb-up {
    background-position: 0 0;
  }

  .message header .icon.thumb-down {
    background-position: -11px 0;
  }

  .message header .icon.trash {
    background-position: -22px 0;
  }
