* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #25273c;
  color: #111;
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

body {
  padding: 1px;
}

#app-name {
  font-weight: bold;
  font-size: 8pt;
  text-transform: uppercase;
  letter-spacing: 1px;
  clear: both;
}

h1 {
  font-weight: bold;
  font-size: 24pt;
}

a {
  color: #111;
}

.placeholder, .message {
  vertical-align: top;
  display: inline-block;
  margin: 1px;
  min-width: 1px;
  position: relative;
}

.placeholder {
  background-color: rgba(0,0,0,0.5);
  min-height: 64px;
  border: 1px dashed rgba(255,255,255,0.5);
}

.message {
  min-height: 66px;
  max-width: 200px;
  background-color: #d3cf2e;
}

  .message .header {
    display: block;
    font-size: 8pt;
    background-color: #a9a62f;
    padding: 2px 1px 1px 5px;
    max-height: 14px;
    overflow: hidden;
    text-align: right;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 15px;
  }

  .message .header .handle {
    display: block;
    height: 12px;
    cursor: pointer;
  }

  .message .header .menu {
    float: right;
  }

  .message .body {
    display: block;
    padding: 2px 17px 1px 5px;
  }

  .message .body .idea {
    display: block;
    font-size: 15pt;
  }

  .message .footer {
    display: block;
    padding: 0 5px;
    bottom: 0;
  }

  .message .footer .user {
    padding-left: 0.7em;
    display: inline-block;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

  .message .footer .date {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

.icon {
  display: inline-block;
  cursor: pointer;
  margin-left: 2px;
  width: 11px;
  height: 12px;
  background-image: url(../img/header-icons.png);
}

  .icon.thumb-up {
    background-position: 0 0;
  }

  .icon.thumb-down {
    background-position: -11px 0;
  }

  .icon.trash {
    background-position: -22px 0;
  }

#main {
  background-color: #5e945f;
  margin: 1px;
  color: white;
  position: relative;
}

  #main .header {
    background-color: #486549;
    color: #eee;
    padding: 1px 2px;
  }

  #main .body {
    padding: 5px 2px;
  }

#board {
}

  #board .group {
    display: inline-block;
    float: left;
    padding: 4px;
    background-color: #5e945f;
    margin: 10px 9px 0 1px;
    min-height: 68px;
    max-height: 50%;
    min-width: 64px;
    max-width: 50%;
  }

#new-idea {
  cursor: default;
  max-width: none;
}

#main .board {
  display: inline-block;
  background-color: #406241;
  color: #758375;
  overflow: hidden;
  font-weight: bold;
  font-size: 21pt;
  max-width: 17%;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 1px;
  cursor: pointer;
}

  #main .board .header {
    display: block;
    font-size: 8pt;
    background-color: #283529;
    padding: 2px 1px 1px 5px;
    max-height: 14px;
    overflow: hidden;
    text-align: right;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 15px;
  }

  #main .board.active {
    background-color: #5e945f;
    color: #eee;
  }

  #main .board input[type="text"] {
    font-size: 24pt;
  }

  #main .board input[type="text"]#new-board {
    font-size: 13pt;
    font-weight: bold;
  }

#available-boards {
}

#status {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  color: black;
  padding: 1px 2px;
  background-color: #ddd;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
}

  #status.ok {
    background-color: rgba(0, 250, 50, 0.8) !important;
  }

  #status.error {
    background-color: rgba(255, 40, 40, 0.8) !important;
  }

  #status.reconnect {
    background-color: rgba(255, 190, 20, 0.8) !important;
  }

#uid {
  float: right;
  margin: 1px 5px;
  display: inline-block;
}

.deleting {
  transition: opacity ease 0.3s;
  opacity: 0;
}

.showing {
  transition: opacity ease-out 0.3s;
  opacity: 1;
}

.blink-once {
  animation: blink 0.3s ease;
  -webkit-animation: blink 0.3s ease;
  -moz-animation: blink 0.3s ease;
  -ms-animation: blink 0.3s easee;
}

@keyframes blink {50% { background-color: rgba(255, 255, 255, 1.0); }}
@-webkit-keyframes blink {50% { background-color: rgba(255, 255, 255, 1.0); }}
@-moz-keyframes blink {50% { background-color: rgba(255, 255, 255, 1.0); }}
@-ms-keyframes blink {50% { background-color: rgba(255, 255, 255, 1.0); }}

input[type="text"] {
  font-family: Arial, sans-serif;
  padding: 1px 2px;
  border: none;
}

  input[type="text"]#input {
    font-size: 15pt;
  }

  input[type="text"]:active {
    border: 1px solid #fff;
  }

  input[type="text"]:focus {
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 8px;
  }

.pulse {
  animation: pulse 0.2s alternate ease-in-out infinite;
  -webkit-animation: pulse 0.2s alternate ease-in-out infinite;
  -moz-animation: pulse 0.2s alternate ease-in-out infinite;
  -ms-animation: pulse 0.2s alternate ease-in-out infinite;
}

@keyframes pulse { from { background-color: #fff; } to { background-color: #f00; }}
@-webkit-keyframes pulse { from { background-color: #fff; } to { background-color: #f00; }}
@-moz-keyframes pulse { from { background-color: #fff; } to { background-color: #f00; }}
@-ms-keyframes pulse { from { background-color: #fff; } to { background-color: #f00; }}
